html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('background.png');
    color: #202020;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
a {
    color: #202020;
    text-decoration: none;
}
p a {
    color: rgb(40, 40, 255);
}

button {
    background-color: rgb(35, 35, 255);
    color: white;
    border-radius: 5px;
    border: 10px rgb(35, 35, 255) solid;
    transition: all .2s;
    box-sizing: border-box;
    width: 32.5%;
    box-shadow: 0 0 2px grey
}
button:hover {
    cursor: default;
    background-color: rgb(70, 70, 255);
    border: 10px rgb(70, 70, 255) solid;
}
.button_home {
    color: black;
    background-color: white;
    border: 10px solid white;
    box-shadow: 0 0 1px grey;
}
.button_home:hover {
    background-color: white;
    border: 10px solid white;
    box-shadow: 0 0 1px black;
}

.main_box {
    width: 400px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    box-shadow: 0 0 10px rgb(70, 70, 70);
    border-radius: 14px;
}
.div_white {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: white;
    border-radius: 10px 10px 0 0;
}
.div_grey {
    padding: 24px;
    background-color: #f0f0f0;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

.navbar {
    background-color: rgba(246, 246, 246, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    height: 50px;
    z-index: 1;
}
.navbar_full_screen {
    background-color: #f6f6f6;
}
.navbar_icon {
    height: 32px;
    grid-column: 1;
    grid-row: 1;
}
.navbar_item {
    display: grid;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    grid-column: 1;
    grid-row: 1;
}
.navbar_item a {
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    align-self: center;
    grid-column: 2;
    grid-row: 1;
    transition: all .2s;
}
.navbar_item a:hover {
    background-color: white;
    box-shadow: 0 0 2px grey;
    border-radius: 5px;
    cursor: default;
}
.navbar_current {
    background-color: #f9f9f9;
    box-shadow: 0 0 2px grey;
    border-radius: 5px;
}

.full_screen {
    width: 70%;
    bottom: 0;
    background-color: white;
    position: absolute;
    top: 50px;
    padding-left: 15%;
    padding-right: 15%;
}
.full_screen iframe {
    position: absolute;
    border: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    height: 100%;
}

@media screen and (max-width: 700px) {
    .full_screen {
        width: 92%;
        padding-left: 4%;
        padding-right: 4%;
    }
}
@media screen and (max-width: 450px) {
    .main_box {
        width: 80%;
        left: 50%;
    }
    button {
        margin-top: 2px;
        margin-bottom: 2px;
        width: 100%;
    }
}